<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <h3>Welcome</h3>
    <form action=""method="POST">
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="error">{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>
    <a href="{% url 'profile' user.username %}">Back</a>
</body>
</html>