<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <form action="" method="get">
        {% for fm in form  %}
            <dir>
                {{fm.label_tag}}
                {{fm}}
            </dir>
            <dir>
                {{fm.label}} <br>
                {{fm.value}} <br>
                {{fm.html_name}} <br>
                {{fm.help_text}}
            </dir>
            <dir>
                {{fm.field.required}} <br>
            </dir>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>