<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th, td{
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <h1>hello</h1>
    {% if stu %}
        <table>
                <tr> 
                    <th>ID</th>
                    <th>Student Id</th>
                    <th>Student name</th>
                    <th>student email</th>
                    <th>student pass</th>
                </tr>
            {% for st in stu %}
                <tr>
                    <td>
                        {{ stu.id }}
                    </td>
                    <td>{{ stu.stuid }}</td>
                    <td>{{ stu.stuname }}</td>
                    <td>{{ stu.stuemail }}</td>
                    <td> {{ stu.stupass }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h1>data not exits</h1>
    {% endif %}

   
</body>
</html>