<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <style>
        .errorlist{
            list-style-type: none;
            color:red;
            font-size:10px;
            margin:0;
            padding:1;
        }
    </style>
</head>
<body>
    <form action="" method="POST", novalidate>
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div>
            {{field.label_tag}} {{field}} 
            {% for error in field.errors %}
            <span class="errorlist"> {{error}}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" value="Submit">  
    </form>
</body>
</html>