<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>
<body>
    <h4>Session Name</h4>
    first key name {{name}}
    <br>
    {{request.session.get_session_cookie_age}} <br>
    {{request.session.get_expiry_age}} <br>
    {{request.session.get_expiry_date}} <br>
    {{request.session.get_expire_at_browser_close}} <br>
    <br><br>
    <a href="{% url 'delsession' %}">Delete session</a>


</body>
</html>