<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <style>
        table, tr, td, th{
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <table>
        <h1>Center Information<h1>
            <th>ID</th>
            <th>Center Name</th>
            <th>City</th>
           
            {% for std in exam %}
                <tr>
                <td>{{std.id}}</td>
                <td>{{std.cname}}</td>
                <td>{{std.city}}</td>
                </tr>
            {% endfor %}
        </table>
    <table>
    <h1>Student Information<h1>
        <th>ID</th>
        <th>Centr Name</th>
        <th>School City</th>
        <th>Student Name</th>
        <th>Roll Number</th>
        {% for std in student %}
            <tr>
            <td>{{std.id}}</td>
            <td>{{std.cname}}</td>
            <td>{{std.city}}</td>
            <td>{{std.name}}</td>
            <td>{{std.roll}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>