{% extends 'blog/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
            {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
            {% endfor %}
        {% endif %}
  {% endblock msg %}

  {% block content %}
  <div class="col-sm-10">
    <h3 class="text-white my-5">Dashborad Page</h3>
  <a href="{% url 'addpost' %}" class="btn btn-success">Add Post</a>
  <h4 class="text-center alert alert-info mt-3">Post Information</h4>
    <table class="table-hover table bg-white">
      <thead>
        <tr>
          <th scope="col" style="width:2%">ID</th>
          <th scope="col" style="width:28%">Title</th>
          <th scope="col" style="width:55%">Discription</th>
          <th scope="col" style="width:15%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th scope="row">{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.desc}}</td>
          <td class="text-center">
            <a href="{% url 'update' post.id %}" class="btn btn-warning btn-sm">Edit</a>
            {% if perms.blog.delete_post %}
            <form action="{% url 'delete' post.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger btn-sm" value="Delete">
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
        
</div>
{% endblock content %}


