<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3>Id Roll Name Marks City Pass Date</h3>
        {{student.id}}
        {{student.roll}}
        {{student.name}}
        {{student.marks}}
        {{student.city}}
        {{student.pass_date}}
        
</body>
</html>