<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        <input type="submit" value="Login">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="error">{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>
    <a href="{% url 'signup' %}">Sign Up</a>
</body>
</html>