<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
{% endif %}
<a href="{% url "ChangePass" %}">Change Password</a> <br>
<a href="{% url "ChangePass1" %}">Forget Password</a> <br>
<a href="{% url 'logout' %}">LogOut</a>

</body>
</html>